<div class="row" style="width: 100%;height: 380px;background-color: #F5F5F5; margin-top: 46px;">
  <div class="titledetail justify-content-center">
    <h2>{{h2}}</h2>
    <div class="title d-flex justify-content-center" >
    <div routerLink="/home"> {{title1}} </div>     >
    <div >{{title2}}</div>       >
    <div  style="margin-left: 10px;" >{{title3}}</div>
  </div>

  </div>

</div>


  <!-- <div class="row" style="width: 100%;height: 380px;background-color: #F5F5F5;">
    <div class="titledetail justify-content-center">
      <h2>{{Title.h2}}</h2>
      <div class="title d-flex justify-content-center" >
      <div routerLink="/home"> Home </div>     >
      <div >{{Title.t1}}</div>       >
      <div  style="margin-left: 10px;" >{{Title.t2}}</div>
    </div>

    </div>

  </div>
  <div class="row content" > -->
