<!-- slide -->
<div class="row" id="header" style="width: 100%;">
  <div class="container-fluid" style="">
    <!-- <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="overlay-img">
            <img src="../assets/images/slide1.jpg" alt="">
          </div>
          <div class="container">
            <h1>Buttons</h1>
            <p>Use Bootstrap’s custom button styles for actions in forms, dialogs
              and more with support for multiple sizes, states, and more.</p>
            <button type="button" class="btn ">Shop</button>
          </div>



        </div>
        <div class="carousel-item">
          <div class="overlay-img">
            <img src="../assets/images/slide2.jpg" alt="">
          </div>
          <div class="container">
            <h1>EASY TO CLEAN READY FOR LIFE</h1>
            <p>Use Bootstrap’s custom button styles for actions in forms, dialogs, and more with support for multiple
              sizes, states, and more.</p>
            <button type="button" class="btn ">Shop</button>
          </div>
        </div>
        <div class="carousel-item">
          <div class="overlay-img">
            <img src="../assets/images/slide3.jpeg" alt="">
          </div>
          <div class="container">
            <h1>Buttons</h1>
            <p>Use Bootstrap’s custom button styles for actions in forms, dialogs, and more with support for multiple
              sizes, states, and more.</p>
            <button type="button" class="btn ">Shop</button>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div> -->
    <app-slider-home></app-slider-home>
  </div>
</div>


<!-- Featured Section -->
<section class="featured-section " style="margin-bottom: 50px;margin-top: 50px">
  <div class="vector-layer" style="background-image: url(images/icons/vector-1.png)"></div>
  <div class="vector-layer-two" style="background-image: url(images/icons/feature.png)"></div>
  <div class="auto-container ">
    <div class="inner-container">
      <div class="row clearfix ">

        <!-- Feature Block -->
        <div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
          <div class="inner-box">
            <div class="content ">
              <div class="icon flaticon-fast"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M8.25 18.75a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 01-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 00-3.213-9.193 2.056 2.056 0 00-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 00-10.026 0 1.106 1.106 0 00-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12" />
                </svg>
              </div>
              <div> <strong>Free Shipping</strong>
                <div class="text">Free shipping over $100</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Feature Block -->
        <div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
          <div class="inner-box">
            <div class="content">
              <div class="icon flaticon-padlock">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                </svg>

              </div>
              <div>
                <strong>Payment Secure</strong>
                <div class="text">Got 100% Payment Safe</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Feature Block -->
        <div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
          <div class="inner-box">
            <div class="content">
              <div class="icon flaticon-headphones-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
                </svg>

              </div>
              <div>
                <strong>Support 24/7</strong>
                <div class="text">Top quialty 24/7 Support</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Feature Block -->
        <div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
          <div class="inner-box">
            <div class="content">
              <div class="icon flaticon-wallet">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M21 12a2.25 2.25 0 00-2.25-2.25H15a3 3 0 11-6 0H5.25A2.25 2.25 0 003 12m18 0v6a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 18v-6m18 0V9M3 12V9m18 0a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 9m18 0V6a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 6v3" />
                </svg>

              </div>
              <div>
                <strong>100% Money Back</strong>
                <div class="text">Cutomers Money Backs</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<div id="innerbox" class="row" style="height: 102px;" style="width: 100%;">
  <app-innerbox [strong]="'Products'" [p]="'List for you'"></app-innerbox>
</div>
<!-- cards -->

<div class="row container-fluid" style=" width: 100%;padding: 0;" style="width: 100%;">

  <!-- <app-list-product style="min-height: 550px;"></app-list-product> -->
  <router-outlet class="row " style="width: 100%;"></router-outlet>








</div>

<!-- innerbox -->
<div id="innerbox" class="row" style="height: 102px; " style="width: 100%;">
  <!-- <section class="brand-section col-md-12" >
    <div class="outer-container">
      <div class="animation_mode ">
        <h1>Design. <span>Brand</span>. <strong>Quality</strong></h1>
        <img src="../assets/images/icon.png" alt="" />
        <img src="../assets/images/icon.png" alt="" />
        <img src="../assets/images/icon.png" alt="" />
         <h1>Design. <span>Brand</span>. <strong>Quality</strong></h1>
         <img src="../assets/images/icon.png" alt="" />
         <img src="../assets/images/icon.png" alt="" />
         <img src="../assets/images/icon.png" alt="" />
        <h1>Design. <span>Brand</span>. <strong>Quality</strong></h1>
        <img src="../assets/images/icon.png" alt="" />
        <img src="../assets/images/icon.png" alt="" />
        <img src="../assets/images/icon.png" alt="" />
      </div>
    </div>
  </section> -->
</div>


<div class="row saleblock " style="width: 100%;">
  <div class="col-sm-6 block">
    <img src="../assets/images/saleblockleft.jpg" alt="">
  </div>
  <div class="col-sm-6 block">
    <img src="../assets/images/saleblockright.jpg" alt="">
  </div>
</div>


<div id="innerbox" class="row" style="height: 102px;   box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.1);" style="width: 100%;">
  <!-- <p> <strong style="color: red;font-weight: 900;">| </strong> <strong>Products</strong> List for you </p> -->
  <app-innerbox [strong]="'Products'" [p]="'List for you'"></app-innerbox>
</div>
<!-- productBlock4 -->

<div class="row productBlock4 " style="width: 100%;">
  <!-- <div class="col-sm-3 col-6" *ngFor="let item of Products">
    <div  class="card" [routerLink]="['/detail',item.id]"  id="cards"  style="width: 18rem; margin: auto; margin-top: 10px;" >
      <img src="{{item.img}}" class="card-img-top" alt="...">
      <div class="card-body" >
        <h5 class="card-title">{{item.id}}</h5>
        <p class="card-text">Some quick example text to build on the {{item.name}} and make up the bulk of the card's content.</p>
        <a href="" class="btn btn-Shop">Go somewhere</a>
      </div>
    </div>
  </div> -->
  <div class="card-wrapper1  d-flex  justify-content-around col-lg-3 col-md-4 col-sm-6 col-xs-12  " *ngFor="let item of filterproduct | paginate
  : {
      itemsPerPage: tableSize1,
      currentPage: page1,
      id : 'd'

    }; let i = index  let i2 = index " >
    <!-- <div>
       <div class="card  " style="width: 18rem;margin: 12px;">
        <img [routerLink]="['/detail',item.id]" src="{{item.img}}" class="card-img-top" alt="...">
        <div class="card-body">
          <div>
            <h5 class="card-title">{{item.name}}</h5>
            <h5 class="card-title">ID:{{item.id}}</h5>
            <p>PRICE: {{item.price}}</p>
            <p>SALE: {{item.pricesSales}}</p>
          </div>

          <div class="cart1 d-flex align-items-center">

            <button routerLink="/cart" (click)="addtocart(item)"> Mua hàng </button>
          </div>

        </div>
      </div>
    </div> -->
    <app-cart-home [item]="item" (addtocard)="addtocart($event)"></app-cart-home>
  </div>
</div>
<!-- phan trang -->
<div class="row" style="width: 100%;">
  <div class="d-flex justify-content-center">
    <pagination-controls previousLabel1="Prev" nextLabel1="Next" (pageChange)="onTableDataChange1($event) " id="d">

    </pagination-controls>
  </div>
</div>

<div class="row  justify-content-center"
  style="height: 102px; border-top: 1px solid grey; border-bottom: 1px solid grey;width: 100%;">
  <div class="shopnow" routerLink="/shop" >
    <h5> Shop now-></h5>
  </div>
</div>




<div id="innerbox" class="row" style="min-height: 102px;   box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.1);" style="width: 100%;">
  <!-- <p class="col-lg-4 col-12"> <strong style="color: red;font-weight: 900;">| </strong> <strong>Products</strong> Your
    choich </p> -->
    <app-innerbox [strong]="'Products'" [p]="'List for you'"></app-innerbox>
  <div class="col-lg-8 col-12 d-flex justify-content-center filters">
    <ul class="filter-tabs">

      <!-- <li class="filter" data-role="button" data-filter=".music" [ngClass]="{'active':user.active, 'nonactive':!user.active}" (click)="click(users, i)">{{user.name}}</li> -->
      <li *ngFor="let item of itemstest" (click)="onListItemClick(item)"
        [ngClass]="{'active-list-item': item === selectedItem}">
        {{item}}
      </li>

      <!-- <button [ngClass]="{'btn btn-danger':isClick, 'btn btn-success':!isClick}" (click)="changeColor()"> {{isClick ? 'Deactive':'Active'}}
          </button>
          <button [ngClass]="{'btn btn-danger':isClick, 'btn btn-success':!isClick}" (click)="changeColor()"> {{isClick ? 'Deactive':'Active'}}
          </button> -->
    </ul>
  </div>
</div>
<!-- productBlock4 -->
<!-- <div class="row" style="width: 100%;">
  <div class="d-flex justify-content-center">
    <pagination-controls previousLabel2="Prev" nextLabel2="Next" (pageChange)="onTableDataChange2($event)">

    </pagination-controls>
  </div>
</div> -->
<div class="row productBlock4 " style="width: 100%;">
  <!-- <div class="col-sm-3 col-6" *ngFor="let item of Products">
    <div  class="card" [routerLink]="['/detail',item.id]"  id="cards"  style="width: 18rem; margin: auto; margin-top: 10px;" >
      <img src="{{item.img}}" class="card-img-top" alt="...">
      <div class="card-body" >
        <h5 class="card-title">{{item.id}}</h5>
        <p class="card-text">Some quick example text to build on the {{item.name}} and make up the bulk of the card's content.</p>
        <a href="" class="btn btn-Shop">Go somewhere</a>
      </div>
    </div>
  </div> -->
  <div class="card-wrapper1  d-flex  justify-content-around col-lg-3 col-md-4 col-sm-6 col-xs-12  " *ngFor="let item of filterproduct | paginate
  : {
      itemsPerPage: tableSize2,
      currentPage: page2,

    }; let i = index  let i2 = index " >
    <div>
      <app-cart-home [item]="item" (addtocard)="addtocart($event)"></app-cart-home>
    </div>

  </div>
</div>

<!-- phan trang -->

<div class="row" style="  margin-top: 50px;
margin-bottom: 50px;" style="width: 100%;">
  <div class="inner d-flex justify-content-center ">
    <img src="../assets/images/uber.png" alt="">
    <img src="../assets/images/oracle.png" alt="">
    <img src="../assets/images/amda.png" alt="">
    <img src="../assets/images/deel.png" alt="">
    <img src="../assets/images/doorash.png" alt="">
    <img src="../assets/images/uber.png" alt="">
  </div>
</div>



<div class="row" style="width: 100%;">


  <!--
<div id="carouselExampleControls3" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active justify-content-center" style="background-color: aliceblue;" > -->


  <!-- <div class="row ">



    <div class="col-lg-6">
        <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>


    <div class="col-lg-6">
        <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>

</div>



    </div>
    <div class="carousel-item"  style="background-color: aliceblue;"> -->


  <!--
<div class="row">

    <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>

    <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>


    <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>

</div>


    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls3" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls3" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->






</div>
<div class="row" style="width: 100%;">
  <!--
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input [(ngModel)]="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      <label for="exampleInputEmail1">Email address</label>
      <input [(ngModel)]="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input [(ngModel)]="pass" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary" (click)="addData()">Submit</button> -->

</div>
<!-- <div class="row">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="tutorial.title"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="tutorial.description"
          name="description"
        />
      </div>

      <button (click)="saveTutorial()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" (click)="newTutorial()">Add</button>
    </div>
  </div>

</div> -->
